@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@500;700&display=swap");

:root {
	--green: rgba(49, 195, 189, 1);
	--green-active: rgba(101, 233, 228, 1);
	--yellow: rgba(242, 177, 55, 1);
	--yellow-active: rgba(255, 200, 96, 1);
	--dark-navy: rgba(26, 42, 51, 1);
	--semi-dark-navy: rgba(31, 54, 65, 1);
	--silver: rgba(168, 191, 201, 1);
	--silver2: rgba(168, 191, 201, 0.5);
	--silver-active: rgba(219, 232, 237, 1);
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin: 0;
	padding: 0;
	font-family: "Outfit", sans-serif;
}

body {
	background-color: var(--dark-navy);
}

.main-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 30%;
}

.logos {
	margin: auto auto 2rem auto;
}

.logos img {
	width: 6rem;
}

.game-container {
	background-color: var(--semi-dark-navy);
	width: 20.5rem;
	margin-right: auto;
	margin-left: auto;
	box-shadow: 0px 8px 0 0 #10212a;
	border-radius: 15px;
	text-align: center;
}

.game-container h1 {
	font-size: 1rem;
	color: var(--silver);
	padding: 2rem;
}

.game-container h2 {
	font-size: 0.875rem;
	margin-bottom: 1.5rem;
	font-weight: 500;
	color: var(--silver2);
}

.mark-options {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin: auto 1.5rem 1rem 1.5rem;
	background-color: var(--dark-navy);
	padding: 1rem;
	border-radius: 10px;
}

.mark-options img {
	width: 3rem;
}
